body, html {
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* 스크롤 제거 */
}
#root {
    display:block;
    margin: 0;
    padding: 0;
    background-color: #fdfdfd; /* 배경 색상 설정 */
    font-family: Arial, sans-serif; /* 기본 폰트 설정 */
    width:100%;
    max-height: 100%;
    overflow-y:hidden;
}

.container {
    margin: 0 auto;
    display: block;
    flex-direction: column;
    height: 100vh;
    width: 90%;
    justify-content: flex-start;
    align-items: center;
    background-color: #ffffff; /* 컨테이너 안쪽 배경 색을 하얀색으로 */
    overflow-y: auto;
    padding-bottom: 20px;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: #FEF0F0;
    width: 90%;
    height: 20vh;
    padding: 20px;
    max-width: 700px;
    border-radius: 30px;
}

.profile_img {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    max-width: 130px;   
    max-height: 130px;
    min-height: 120px;
    flex-direction: column;
    margin-right: 7%;
    border-radius: 50%;
}


.profile_text_box {
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.profile_text {
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
    letter-spacing: -0.5px;
    line-height: 1.5;
    font-size: 18px
}

@media (max-width: 550px){
    .profile_text {
        font-size: 15px;
    }
}

@media (max-width: 450px) {
    .profile_text {
        font-size: 12px;
    }
}

.noticeBoard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #FEF0F0;
    width: 90%;
    padding: 20px;
    max-width: 700px;
    border-radius: 30px;
    min-height:300px;
    max-height: 400px;
    overflow-x: hidden;
}


/*.profile_title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 0px;
    color: #333;
    text-align: left;
    width: 90%;
    max-width: 700px;
    margin-left: 5%;
}*/

.title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    text-align: left;
    width: 90%;
}

.head_box {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 0px;
    color: #fdfdfd;
    width: 90%;
    max-width: 700px;
    margin-left: 5%;
    justify-content: center;
}

.head_content {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.add_btn {
    margin-right: 30px;
    margin-bottom: 5px;
    color: #333;
}

.topBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fdfdfd;
    width: 90%;
    height: 10px;
    padding: 20px;
    max-width: 700px;
    border-bottom: 1px solid black;
    font-weight: bolder;
    font-size: 25px;
    margin: 0 auto;
}

.tipboarder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FEF0F0;
    width: 90%;
    padding: 20px;
    max-width: 700px;
    border-radius: 30px;
    min-height:300px;
    max-height: 400px;
    overflow-x: hidden;
}

.innerBoard {
    display: flex;
    flex-direction: column;
    background-color: #fdfdfd;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 150px;
    width: 300px;
}

.innerTitle {
    margin: 15px;
    text-align: left;
    font-weight: bolder;
    font-size: 20px;
    border-bottom: 0.5px solid black;
}

.innerText {
    margin: 15px;
    margin-bottom: 5px;
    text-align: left;
    font-size: 10px;
}